.td {
	text-align: left;
	float: left;
	margin-bottom: 1rem;
	font-size: 1rem;
	width: 100%;
	margin-right: 0%;
}

.th {
	text-align: left;
	font-size: 0.8rem;
}

.id {
	margin-bottom: 1rem;
}

.button {
	background-color: rgba(#fcbfb7, 0.5);
	border: none;
	border-radius: 6px 6px 6px 6px;
	height: 1.5rem;
	font-size: 0.8rem;
	color: #ffffff;
	cursor: pointer;
}

.type {
	float: left;
	margin-bottom: 1rem;
	font-size: 0.75rem;
}

.table {
	font-size: 10px;
	// width: 300px;
}

.root {
	// background: 'linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)';
	// border: '0';
	// border-radius: 3;
	// box-shadow: '0 3px 5px 2px rgba(255, 105, 135, .3)';
	// color: 'white';
	// height: 48;
	// padding: '0 30px';
	// margin: '10px';
	line-height: normal;
	font-size: 0.7rem;
}
